
.tb-form{
    //overwrite slectiz size
    .selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header, .ui-select-choices{
        @media #{$bp-tablet-max} {
            font-size: 18px;
        }
    }
    .ui-select-container{
        @media #{$bp-tablet-max} {
            font-size: 18px;
            width: 100%;
        }
    }
    .tb-search-date{
        .form-control{
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }
        .input-group-btn{
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            .btn{
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }
        }
    }
    .tb-btn{
        display: inline-block;
        @media #{$bp-desktop} {
            margin-top: 22px;
        }
    }
}

.busseat-arrangement {
    float: left;
    position: relative;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    .busseat-arrangement-item {
        position: absolute;
    }
}

.busseat-arrangement-item {
    width: 33px;
    height: 33px;
    padding: 0 5px 0 0;
    cursor: pointer;
    &.seat-available {
        background: $url_3 0 0 no-repeat;
    }
    &.seat-na {
        background: $url_3 -102px 0 no-repeat;
    }
    &.seat-booked {
        background: $url_3 -68px 0 no-repeat;
    }
    &.seat-payatbus {
        background: $url_3 -170px 0 no-repeat;
        .busseat-name{
            color: $c-white;
        }
    }
	&.seat-warrant {
        background: $url_3 -34px 0 no-repeat;
    }
	&.seat-pass {
        background: $url_3 -204px 0 no-repeat;
    }
    &.seat-tentative {
        background: $url_3 -136px 0 no-repeat;
    }
    &.seat-selected {
        background: $url_3 -238px 0 no-repeat;
    }
    //current selected seats booking
    &.seat-current-booking{
        background: $url_3 -306px 0 no-repeat;
    }
    &.seat-middle-row {
        margin-top: 30px;
    }
    .morf{
        font-size: 19px;
        left: -3px;
        position: absolute;
        top: -3px;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
        &.morf-f{
            color: $c-pink;
        }
        &.morf-m{
            color: $c-blue;
        }
    }
	.morf-c{
        left: -3px;
        position: absolute;
        top: -3px;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
        color: #f908d0;
    }
    .agent-halo{
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
        width: 100%;
        height: 100%;
        outline-style: solid;
        outline-width: 3px;
    }

}

.busseat-name {
    color: $color_silver_chalice_approx;
    display: inline-block;
    height: 100%;
    line-height: 33px;
    text-align: center;
    width: 100%;
}

.vertical-seats {
    .busseat-arrangement {
        float: none;
        margin: 0 auto;
    }
    .busseat-arrangement-item {
        padding: 0;
        //&.seat-available {
        //    background: $url_3 0 0 no-repeat;
        //}
        //&.seat-na {
        //    background: $url_3 -102px 0 no-repeat;
        //}
        //&.seat-booked {
        //    background: $url_3 -68px 0 no-repeat;
        //}
        //&.seat-payatbus {
        //    background: $url_3 -204px 0 no-repeat;
        //}
        //&.seat-tentative {
        //    background: $url_3 -136px 0 no-repeat;
        //}
        //&.seat-selected {
        //    background: $url_3 -238px 0 no-repeat;
        //}
    }
    .busseat-name {
        line-height: 30px;
    }
}

//seat row numbers
.seat-row-numbers{
    position: absolute;
    top: 0;
    left: -13px;
    width: 40px;
    z-index: 300;
    .seat-row-number{
        height: 33px;
        left: 0;
        line-height: 33px;
        position: absolute;
        width: 18px;
        color: $c-grey;
        text-align: center;
    }
}

.seat-legend{
    margin: 0;
    overflow: auto;
    padding: 15px 3px;
    li{
        float: left;
        list-style: none;
        margin-bottom: 10px;
        span{
            display: inline-block;
            float: left;
            line-height: 30px;
            font-size: 10px;
        }
        .agent-legend{
            position: relative;
            .agent-halo{
                width: 30px;
                height: 30px;
            }
        }
        .lbl{
            margin: 0 8px;
            width: 95px;
        }
    }
}

.tb-customer-details{
    @media #{$bp-tablet} {
        width: 58%;
    }
    @media #{$bp-desktop} {
        width: 54%;
    }
    @media #{$bp-large} {
        width: 70%;
    }
}

.tb-pass-details {
    width: 100%;
    @media #{$bp-tablet} {
        width: 100%;
    }
    @media #{$bp-desktop} {
        width: 54%;
    }
    @media #{$bp-large} {
        width: 70%;
    }
}

.sticky-booking-details-strip{
//    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: $c-green;
    color: $c-black;
    padding: 5px 15px;
    @include box-shadow(0, 0, 4px, $c-grey-dark);
    @media #{$bp-tablet-max} {
        display: block;
    }
}


.resulttable .header .tr {
    background-color: $color_cararra_approx;
    border-bottom: 4px solid $color_crimson_approx;
    text-align: left;
}

table.resulttable tbody td {
    border-bottom: 1px dotted $color_mountain_mist_approx;
    font-size: 12px;
    padding: 12px 8px;
}

.result-align td {
    text-align: left;
}

.booking-popover-body{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
        label{
            min-width: 85px;
            color: $c-grey-light;
            font-weight: normal;
        }
    }
}

.genaral-table{
    td{
        padding: 0 5px;
    }
}

//payment tab
.tb-payment{
    .nav-tabs{
        a{
            outline: none;
        }
        li.active{
            a{
                color: $c-red;
            }
        }
    }
    .tab-content{
        padding: 15px;
        .tabHeader{
            overflow: hidden;
        }
    }
}
