<?php
/**
 * Global Configuration Override
 *
 * NEVER DELETE OR RENAME THIS FILE
 * Just copy the file and rename it and use for local configurations
 */

return array(
    //configs for domains
    'domain' => array(
        'expresslk.loc' => array(
            'site'         => \Application\Domain::NAME_BUSBOOKING,
            'siteConfigName'   => 'depot.busbooking.lk.php',
        ),
        'superline.loc' => array(
            'site'         => \Application\Domain::NAME_SUPERLINE,
            'siteConfigName'   => 'superline.lk.php',
        ),
    ),
    'wsdl'  => array(
            'search' => 'http://167.114.96.6:7575/ExpressLK-search/search?wsdl',
            'reports' => 'http://167.114.96.6:7575/ExpressLK-reports/reports?wsdl',
        ),
        'rest'  => array(
            'v1'    => array(
                'admin' => 'http://167.114.96.6:7575/ExpressLK-admin/v1/internal/admin'
            )
        ),
    'system' => array(
        'serverName' => 'expresslk.loc',
        'debug' => true,
    ),
);